{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Carnet de Voyage</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{{ post.picture }}" class="img-fluid" alt="image du post">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <span class="badge rounded-pill bg-info">{{ post.createdAt|date("d/m/Y") }}</span>
                    <p class="card-text">{{ post.shortDescription }}</p>
                    <a href="{{ path('post_show',  { 'category_slug': post.category.slug, 'slug': post.slug } ) }}" class="btn btn-primary btn-sm">Lire le post</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
