{% extends "base.html.twig" %}

{% block title %}
    Creation d'un article
{% endblock %}

{% block body %}
    <h1>Nouvel article</h1>

    {{ form_start(formView) }}
    {{ form_errors(formView) }}
        <div class="row">
            <div class="col">

                {{ form_row(formView.titre) }}
                {{ form_row(formView.slug) }}
                {{ form_row(formView.shortDescription) }}
            </div>
            <div class="col">
                {{ form_row(formView.content) }}
                {{ form_row(formView.picture) }}
                {{ form_row(formView.category) }}
            </div>
        </div>
        <div class="mt-3">
            <buttton type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i>
                Créer le post
            </buttton>
        </div>
    {{ form_end(formView) }}

{% endblock %}