{% extends "base.html.twig" %}

{% block title %}
    Post_read
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <h4 class="card-title">{{ post.title }}</h4>
                <img src="{{ post.picture }}" class="img-fluid" alt="image du post">
                <div class="card-body">
                    <div class="text-muted">{{ post.slug }}</div>
                    <span class="badge rounded-pill bg-info">{{ post.createdAt|date("d/m/Y") }}</span>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if app.user %}
        <a type="button" class="btn btn-warning my-2 my-sm-0" href="{{ path('app_logout') }}">Modifier l'article</a>
    {% endif %}

{% endblock %}